<div class="profile">
  <p id="username"><%=@user.name%></p>
</div>
  <img id="propic" class="" src="<%=@user.img_url%>">


<div class="row text-center" id="wrapper">

  <div class="row text-center">
    <h1>Report Incident</h1>
  </div>

  <form>
    <p class="report-text">I feel
    <input type ="text" name="adj" placeholder="insert emotion">
    when
    <input type ="text" name="bully" placeholder="insert name">
    does
    </p>
    <p class="report-text"><input type ="text" id="describe-action"name="description" placeholder="insert action">
    to me</p>
    <div class="match-button" type="submit">
      <a id="subbutton" class="btn blue">Proceed to match</a>
    </div>
  </form>
</div>










<div id="wrapper" class="matched-result">
  
  <%= @bully.name %>
  <% @bully.interests.each do |interest| %>
    <%= interest.name %>
  <% end %>
  <img class="" src="<%=@bully.img_url%>">

</div>